.textArea {
  resize: none;
  width: 100%;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 12px;
  border-radius: 6px;
  color: white !important;
  background: #4a4a4a !important;
}
.textArea:focus {
  border-color: #007fff;
  outline: 1px solid #007fff;
}
.textField {
  width: 280px;
  color: white;
  background: #4a4a4a;
  border-radius: 10px;
  margin-right: 10px;
}

.sectionWrapper {
  width: 1000px;

  max-width: 95%;
  margin: 150px auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  gap: 100px;
}

.headerText {
  color: white;
  font-size: 80px;
  font-weight: 700;
}

@media (max-width: 727px) {
  .headerText {
    color: white;
    font-size: 60px;
    font-weight: 600;
  }
}

.paragraphHeader {
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 16px;
}

.paragraph {
  color: white;
  font-size: 32px;
  text-decoration: none;
}

.paragraphWrapper {
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 118, 1) 38%,
    rgba(0, 212, 255, 1) 73%
  );

  filter: blur(100px);
  position: fixed;
  right: 250px;
  top: 250px;
  z-index: -1;
  max-width: 80%;
}

@media (max-width: 1500px) {
  .circle {
    width: 400px;
    height: 400px;
    right: 5px;
    top: 50px;
  }
}

/* //////////////////////////////////////// */
.formSectionWrapper {
  width: 1000px;
  margin: 200px auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.form {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.formTextWrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formText {
  color: #fff;
  font-size: 44px;
}
.span {
  text-align: center;
  width: 50px;
  border-radius: 10px;
  background-color: #0734fca2;
}

.formParagraph {
  color: gray;
  width: 500px;
  font-size: 24px;
}

.aLink {
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1120px) {
  .form {
    width: 400px;
  }
  .formSectionWrapper {
    justify-content: center;
    gap: 24px;
  }
  .formText {
    font-size: 38px;
  }
  .formParagraph {
    font-size: 22px;
  }
}
@media (max-width: 1020px) {
  .form {
    width: 350px;
  }
  .formSectionWrapper {
    width: 100%;
  }
  .formText {
    font-size: 32px;
  }
  .formParagraph {
    font-size: 18px;
    width: 400px;
  }
  .formTextWrapper {
    width: 400px;
  }
  .aLink {
    font-size: 28px;
  }
}
@media (max-width: 830px) {
  .form {
    width: 280px;
  }
  .formText {
    font-size: 28px;
    width: 320px;
  }
  .formParagraph {
    font-size: 18px;
    width: 300px;
  }
  .aLink {
    font-size: 20px;
  }
}
@media (max-width: 660px) {
  .formSectionWrapper {
    flex-direction: column;
    align-items: center;
    padding: 0 48px;
  }
  .formTextWrapper {
    text-align: center;
    width: 100%;
    align-items: center;
  }
  .form {
    width: 100%;
  }
  .formText {
    font-size: 28px;
    width: 100%;
  }
  .formParagraph {
    font-size: 18px;
    width: 100%;
  }
  .aLink {
    font-size: 20px;
  }
}
