.header {
  width: 100%;
  height: 600px;
  min-height: 1050px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  position: relative;
  margin: 200px auto 50px;
  position: relative;
  box-shadow: 50px -80px 100px 10px black inset;

  /* border: 2px solid green; */
}

.bg {
  width: 700px;
  height: 700px;
  filter: opacity(0.4);
  position: absolute;
  top: 20px;
  right: -70px;
  z-index: -1;
}
.h1 {
  font-size: 96px;
  color: white !important;
  margin: 0 0.5rem;
  text-align: left;
  
}

.p {
  color: gray;
  font-size: 28px;
}

.btn {
  padding: 10px;
  height: 70px;
  background: rgb(66, 66, 255);
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 1033px){
  .h1 {
    font-size: 80px;
    
  }
}

@media (max-width: 817px){
  .h1 {
    font-size: 60px;
    
  }
}

@media (max-width: 560px) {
  .header {
    gap: 32px;
  }
  .bg {
    width: 400px;
    height: 400px;
  }
  .h1 {
    font-size: 52px;
  }
  .p {
    font-size: 24px;
  }
}
@media (max-width: 420px) {
  .bg {
    width: 300px;
    height: 300px;
  }
  .h1 {
    font-size: 36px;
  }
  .p {
    font-size: 20px;
  }
  .btn {
    font-size: 18px;
  }
}
@media (max-width: 325px) {
  .bg {
    width: 250px;
    height: 250px;
  }
  .h1 {
    font-size: 36px;
  }
  .p {
    font-size: 18px;
  }
}
