.textWrapper {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 56px !important;
  margin: 200px auto 50px !important;
  position: relative;
  overflow: hidden;
  box-shadow: -40px -80px 100px 50px black inset;
}
.h1 {
  color: white;
  font-size: 96px;
}
.p {
  color: rgb(155, 155, 155);
  font-size: 28px;
  width: 800px;
}
.bgImage {
  width: 700px;
  height: 700px;
  filter: opacity(0.4);
  position: absolute;
  top: 20px;
  right: -70px;
  z-index: -1;
}
@media (max-width: 1020px) {
  .textWrapper {
    width: 100%;
    padding: 0 73px;
  }
  .p {
    font-size: 24px;
    width: 100%;
  }
}
@media (max-width: 760px) {
  .h1 {
    font-size: 68px;
  }
  .bgImage {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 570px) {
  .textWrapper {
    padding: 0 32px;
  }
  .h1 {
    font-size: 48px;
  }
  .p {
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  .textWrapper {
    padding: 0 16px;
  }
  .h1 {
    font-size: 32px;
  }
}
