.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 46px;
  grid-row-gap: 24px;
  overflow-x: hidden;
}

@media (max-width: 1071px) {
  .grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}
