.box {
  width: 500px;
  height: 254px;
  border-radius: 16px;
  cursor: unset;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
  padding: 36px;
  text-decoration: none;
  background: #242424;
  position: relative;
  overflow: hidden;
  z-index: 1;
  max-width: 95%;
}
.box:hover {
  background: linear-gradient(180deg, #242424 35%, #033064);
}

.header {
  color: white;
  font-size: 36px;
}
.info {
  color: gray;
}

.photo {
  position: absolute;
  right: -3px;
  bottom: -50px;
  z-index: -1;
}

@media (max-width: 528px){
  .box{
    height: auto;
    width: 95%;
  }
  
}