.circle {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  position: absolute;
  left: 100px;
  top: 100px;
  background: rgb(2, 28, 83);
  background: radial-gradient(
    circle,
    rgba(2, 28, 83, 1) 0%,
    rgba(153, 2, 186, 1) 26%,
    rgba(0, 212, 255, 1) 57%
  );
  filter: blur(120px);
}
